# Percentiles

# Contents
- [The Data](#The-DataFrame)
- [Standard Deviation](#Standard-Deviation)
  - [Variance && Measuring Variance](#Variance-&&-Measuring-Variance)
  - [Standard Deviation && Measuring it](#Standard-Deviation-&&-Measuring-it)
- [Headers](#Headers)
- [Charting the Data, Percent Below Poverty](#Charting-the-Data)
  - [By Age](#Percent-Below-Poverty)
	  - [< 18](#Percent-Below-<-18yrs-old)
	  - [18-36](#Percent-Below-18-36)
	  - [Percent Below 35 - 64](#Percent-Below-35---64)
	  - [Percent Below 60 +](#Percent-Below-60-+)
  - [By Education](#Education)
      - [Below High School](#Below-High---School)
      - [High School](#High---School-Grads)
      - [Some College And Associates degree](#Some-College-And-Associates-degree)
      - [Bachelor's +](#Bachelor's-degree-+)

# The DataFrame
arrays with additional pandas methods attached

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from scipy import stats

# save file-data to var, using pandas read_file method
# assign to a DataFrame
df = pd.read_csv("./cleaned.csv")

# output a short-exampe of the data
# df.head()
df

,id,Geographic Area Name,Total:,Below poverty level:,Percent below poverty level:,Total:AGE:Under 18 years,Below poverty level:AGE:Under 18 years,Percent below poverty level:AGE:Under 18 years,Total:AGE:Under 18 years!!Under 5 years,Below poverty level:AGE:Under 18 years!!Under 5 years,...,Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:200 percent of poverty level,Total:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:300 percent of poverty level,Below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:300 percent of poverty level,Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:300 percent of poverty level,Total:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:400 percent of poverty level,Below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:400 percent of poverty level,Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:400 percent of poverty level,Total:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:500 percent of poverty level,Below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:500 percent of poverty level,Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:500 percent of poverty level
0,0400000US02,Alaska,720869,78620,10.9,180258,25327,14.1,51329,8384,...,(X),296900,(X),(X),393946,(X),(X),480098,(X),(X)
1,0400000US23,Maine,1301941,151541,11.6,240662,34878,14.5,61960,9594,...,(X),604470,(X),(X),798827,(X),(X),954763,(X),(X)
2,0400000US37,North Carolina,10100431,1417873,14.0,2257634,455971,20.2,586457,127425,...,(X),5151267,(X),(X),6549114,(X),(X),7602253,(X),(X)
3,0400000US29,Missouri,5943658,786330,13.2,1347491,247209,18.3,362024,72100,...,(X),2916185,(X),(X),3823677,(X),(X),4469204,(X),(X)
4,0400000US42,Pennsylvania,12394000,1517870,12.2,2594554,434736,16.8,687014,121224,...,(X),5450455,(X),(X),7240999,(X),(X),8637022,(X),(X)
5,0400000US26,Michigan,9774124,1373349,14.1,2122572,412692,19.4,558505,123515,...,(X),4695204,(X),(X),6115871,(X),(X),7185495,(X),(X)
6,0400000US31,Nebraska,1875342,206341,11.0,465564,60110,12.9,129512,20264,...,(X),870499,(X),(X),1151469,(X),(X),1380052,(X),(X)
7,0400000US41,Oregon,4113142,516570,12.6,854971,134383,15.7,225073,38552,...,(X),1897660,(X),(X),2481964,(X),(X),2920823,(X),(X)
8,0400000US56,Wyoming,563374,62301,11.1,130118,17986,13.8,34677,5891,...,(X),258777,(X),(X),338959,(X),(X),410359,(X),(X)
9,0400000US06,California,38818454,4969326,12.8,8863930,1541067,17.4,2392271,416686,...,(X),17492658,(X),(X),22362486,(X),(X),26002977,(X),(X)
10,0400000US28,Mississippi,2886448,567645,19.7,695058,192952,27.8,173937,52488,...,(X),1715835,(X),(X),2104912,(X),(X),2375330,(X),(X)
11,0400000US09,Connecticut,3468263,361377,10.4,726550,102083,14.1,178579,26891,...,(X),1249454,(X),(X),1648185,(X),(X),1995939,(X),(X)
12,0400000US48,Texas,28074573,4180675,14.9,7310961,1545362,21.1,1983171,449075,...,(X),14219138,(X),(X),17992542,(X),(X),20741714,(X),(X)
13,0400000US16,Idaho,1723154,203264,11.8,439332,62855,14.3,112081,18788,...,(X),918492,(X),(X),1176889,(X),(X),1358206,(X),(X)
14,0400000US24,Maryland,5899819,528203,9.0,1317517,152237,11.6,354220,41080,...,(X),2008712,(X),(X),2756703,(X),(X),3392933,(X),(X)
15,0400000US35,New Mexico,2051759,399456,19.5,470978,124024,26.3,116336,32985,...,(X),1195955,(X),(X),1477793,(X),(X),1648483,(X),(X)
16,0400000US01,Alabama,4763828,800422,16.8,1070267,255186,23.8,282011,73474,...,(X),2544842,(X),(X),3219037,(X),(X),3708401,(X),(X)
17,0400000US47,Tennessee,6603013,1011016,15.3,1482119,330998,22.3,394723,105352,...,(X),3490597,(X),(X),4436669,(X),(X),5109331,(X),(X)
18,0400000US50,Vermont,601261,66013,11.0,112933,13712,12.1,28059,2974,...,(X),256157,(X),(X),347203,(X),(X),423883,(X),(X)
19,0400000US32,Nevada,2991978,387327,12.9,677441,120091,17.7,181422,35023,...,(X),1524746,(X),(X),1959213,(X),(X),2256299,(X),(X)
20,0400000US54,West Virginia,1753476,312188,17.8,353722,86713,24.5,91059,25235,...,(X),1006871,(X),(X),1248723,(X),(X),1416073,(X),(X)
21,0400000US40,Oklahoma,3825027,596949,15.6,936031,202779,21.7,251152,62134,...,(X),2065877,(X),(X),2634219,(X),(X),3012459,(X),(X)
22,0400000US55,Wisconsin,5665153,625826,11.0,1247282,175243,14.0,324132,51696,...,(X),2485101,(X),(X),3387296,(X),(X),4076171,(X),(X)
23,0400000US72,Puerto Rico,3165711,1363666,43.1,588499,335044,56.9,124657,80321,...,(X),2729229,(X),(X),2926820,(X),(X),3025603,(X),(X)
24,0400000US20,Kansas,2825680,338175,12.0,691389,103210,14.9,183540,30827,...,(X),1349418,(X),(X),1785324,(X),(X),2092023,(X),(X)
25,0400000US51,Virginia,8264095,884647,10.7,1840287,252475,13.7,493819,75595,...,(X),3257100,(X),(X),4334631,(X),(X),5226471,(X),(X)
26,0400000US38,North Dakota,736671,78676,10.7,172631,17145,9.9,51223,6268,...,(X),298077,(X),(X),414750,(X),(X),505127,(X),(X)
27,0400000US34,New Jersey,8739304,832133,9.5,1931396,264253,13.7,511150,78392,...,(X),3004777,(X),(X),4008042,(X),(X),4949929,(X),(X)
28,0400000US39,Ohio,11362304,1578673,13.9,2540270,495616,19.5,678936,152478,...,(X),5407369,(X),(X),7078758,(X),(X),8385695,(X),(X)
29,0400000US45,South Carolina,4944754,755215,15.3,1088536,245821,22.6,282642,67989,...,(X),2603948,(X),(X),3316260,(X),(X),3813512,(X),(X)
30,0400000US13,Georgia,10238658,1468642,14.3,2463436,504745,20.5,635094,140442,...,(X),5084230,(X),(X),6488138,(X),(X),7504626,(X),(X)
31,0400000US08,Colorado,5577020,537492,9.6,1254115,149487,11.9,331810,39308,...,(X),2233786,(X),(X),3018956,(X),(X),3651812,(X),(X)
32,0400000US15,Hawaii,1382448,122143,8.8,297248,35368,11.9,84946,12592,...,(X),496563,(X),(X),704853,(X),(X),874662,(X),(X)
33,0400000US46,South Dakota,852419,111626,13.1,208983,34201,16.4,58842,10766,...,(X),418437,(X),(X),558921,(X),(X),659394,(X),(X)
34,0400000US18,Indiana,6489261,852638,13.1,1531482,275370,18.0,407790,81505,...,(X),3186976,(X),(X),4206327,(X),(X),4969874,(X),(X)
35,0400000US21,Kentucky,4326305,730408,16.9,980918,225710,23.0,265736,65327,...,(X),2324929,(X),(X),2957639,(X),(X),3396657,(X),(X)
36,0400000US22,Louisiana,4529028,843626,18.6,1082739,283218,26.2,297386,86541,...,(X),2521333,(X),(X),3085435,(X),(X),3500211,(X),(X)
37,0400000US53,Washington,7400557,759013,10.3,1634222,204470,12.5,449434,59078,...,(X),2936732,(X),(X),3987310,(X),(X),4795778,(X),(X)
38,0400000US17,Illinois,12447271,1509247,12.1,2817981,456926,16.2,749060,132775,...,(X),5428655,(X),(X),7113491,(X),(X),8441244,(X),(X)
39,0400000US19,Iowa,3055939,343504,11.2,719504,97222,13.5,195530,28246,...,(X),1382761,(X),(X),1884721,(X),(X),2242298,(X),(X)
40,0400000US33,New Hampshire,1312006,100220,7.6,252085,26830,10.6,61329,7995,...,(X),444128,(X),(X),635330,(X),(X),795150,(X),(X)
41,0400000US44,Rhode Island,1016469,131205,12.9,200202,36135,18.0,53873,10719,...,(X),415036,(X),(X),564138,(X),(X),678071,(X),(X)
42,0400000US05,Arkansas,2925448,504504,17.2,690886,170769,24.7,185545,53630,...,(X),1692842,(X),(X),2093925,(X),(X),2364561,(X),(X)
43,0400000US10,Delaware,940786,117242,12.5,198852,37283,18.7,52630,10074,...,(X),405497,(X),(X),532396,(X),(X),645267,(X),(X)
44,0400000US27,Minnesota,5488344,529077,9.6,1279942,149502,11.7,349748,42833,...,(X),2087980,(X),(X),2889233,(X),(X),3579554,(X),(X)
45,0400000US30,Montana,1037462,135114,13.0,224806,35999,16.0,60587,10981,...,(X),525228,(X),(X),674131,(X),(X),793759,(X),(X)
46,0400000US04,Arizona,7013444,983499,14.0,1616402,324622,20.1,427352,94276,...,(X),3590503,(X),(X),4575627,(X),(X),5291082,(X),(X)
47,0400000US12,Florida,20882651,2840977,13.6,4163985,819256,19.7,1115627,240153,...,(X),10693721,(X),(X),13663009,(X),(X),15742357,(X),(X)
48,0400000US25,Massachusetts,6665083,663918,10.0,1345037,163788,12.2,349091,45937,...,(X),2276389,(X),(X),3077408,(X),(X),3790926,(X),(X)
49,0400000US11,District of Columbia,669031,108055,16.2,125590,29048,23.1,45015,8835,...,(X),246319,(X),(X),307860,(X),(X),359282,(X),(X)
50,0400000US49,Utah,3110944,280773,9.0,919114,87445,9.5,247392,25914,...,(X),1398412,(X),(X),1940775,(X),(X),2320908,(X),(X)
51,0400000US36,New York,19037564,2591391,13.6,3993286,743024,18.6,1116698,218398,...,(X),8246587,(X),(X),10588145,(X),(X),12473909,(X),(X)

# Headers

In [2]:
df.columns

Index(['id', 'Geographic Area Name', 'Total:', 'Below poverty level:',
       'Percent below poverty level:', 'Total:AGE:Under 18 years',
       'Below poverty level:AGE:Under 18 years',
       'Percent below poverty level:AGE:Under 18 years',
       'Total:AGE:Under 18 years!!Under 5 years',
       'Below poverty level:AGE:Under 18 years!!Under 5 years',
       ...
       'Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:200 percent of poverty level',
       'Total:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:300 percent of poverty level',
       'Below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:300 percent of poverty level',
       'Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:300 percent of poverty level',
       'Total:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:400 percent of poverty level',
       'Below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:400 percent of poverty level',
       'Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:400 percent of poverty level',
       'Total:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:500 percent of poverty level',
       'Below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:500 percent of poverty level',
       'Percent below poverty level:ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS:500 percent of poverty level'],
      dtype='object', length=137)

# Charting the Data

## Percent Below Poverty

In [6]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

perc_below = df['Percent below poverty level:']
print("10% "+ str(np.percentile(perc_below,10)))
print("25% "+ str(np.percentile(perc_below,25)))
print("50% "+ str(np.percentile(perc_below,50)))
print("75% "+ str(np.percentile(perc_below,75)))
print("90% "+ str(np.percentile(perc_below,90)))

10% 9.6
25% 10.975
50% 12.850000000000001
75% 14.450000000000001
90% 17.169999999999998

## Percent-Below under 18

In [8]:
perc_below_18 = df['Percent below poverty level:AGE:Under 18 years']

print("10% "+ str(np.percentile(perc_below_18,10)))
print("25% "+ str(np.percentile(perc_below_18,25)))
print("50% "+ str(np.percentile(perc_below_18,50)))
print("75% "+ str(np.percentile(perc_below_18,75)))
print("90% "+ str(np.percentile(perc_below_18,90)))

10% 11.9
25% 13.7
50% 17.1
75% 20.65
90% 24.43

## Percent Below 18-36

In [9]:
perc_below_18_36 = df['Percent below poverty level:AGE:18 to 64 years!!18 to 34 years']

print("10% "+ str(np.percentile(perc_below_18_36,10)))
print("25% "+ str(np.percentile(perc_below_18_36,25)))
print("50% "+ str(np.percentile(perc_below_18_36,50)))
print("75% "+ str(np.percentile(perc_below_18_36,75)))
print("90% "+ str(np.percentile(perc_below_18_36,90)))

10% 12.4
25% 14.049999999999999
50% 16.2
75% 17.575
90% 20.63

## Percent Below 35 - 64

In [10]:
perc_below_35_64 = df['Percent below poverty level:AGE:18 to 64 years!!35 to 64 years']

print("10% "+ str(np.percentile(perc_below_35_64,10)))
print("25% "+ str(np.percentile(perc_below_35_64,25)))
print("50% "+ str(np.percentile(perc_below_35_64,50)))
print("75% "+ str(np.percentile(perc_below_35_64,75)))
print("90% "+ str(np.percentile(perc_below_35_64,90)))

10% 7.4
25% 8.174999999999999
50% 10.25
75% 11.3
90% 14.35

## Percent Below 60 +

In [11]:
perc_60_plus = df['Percent below poverty level:AGE:60 years and over']

print("10% "+ str(np.percentile(perc_60_plus,10)))
print("25% "+ str(np.percentile(perc_60_plus,25)))
print("50% "+ str(np.percentile(perc_60_plus,50)))
print("75% "+ str(np.percentile(perc_60_plus,75)))
print("90% "+ str(np.percentile(perc_60_plus,90)))

10% 7.510000000000001
25% 7.975
50% 9.3
75% 10.649999999999999
90% 11.69

## Education

## below High-Scool

In [12]:
perc_no_hs = df['Percent below poverty level:EDUCATIONAL ATTAINMENT:Population 25 years and over!!Less than high school graduate']

print("10% "+ str(np.percentile(perc_no_hs,10)))
print("25% "+ str(np.percentile(perc_no_hs,25)))
print("50% "+ str(np.percentile(perc_no_hs,50)))
print("75% "+ str(np.percentile(perc_no_hs,75)))
print("90% "+ str(np.percentile(perc_no_hs,90)))

10% 18.900000000000002
25% 21.374999999999996
50% 24.450000000000003
75% 27.775
90% 31.47

## High-School Grads

In [13]:
perc_hs = df['Percent below poverty level:EDUCATIONAL ATTAINMENT:Population 25 years and over!!High school graduate (includes equivalency)']

print("10% "+ str(np.percentile(perc_hs,10)))
print("25% "+ str(np.percentile(perc_hs,25)))
print("50% "+ str(np.percentile(perc_hs,50)))
print("75% "+ str(np.percentile(perc_hs,75)))
print("90% "+ str(np.percentile(perc_hs,90)))

10% 10.51
25% 11.674999999999999
50% 13.1
75% 14.724999999999998
90% 16.38

## Some College And Associates degree

In [14]:
perc_some_college = df["Percent below poverty level:EDUCATIONAL ATTAINMENT:Population 25 years and over!!Some college, associate's degree"]

print("10% "+ str(np.percentile(perc_some_college,10)))
print("25% "+ str(np.percentile(perc_some_college,25)))
print("50% "+ str(np.percentile(perc_some_college,50)))
print("75% "+ str(np.percentile(perc_some_college,75)))
print("90% "+ str(np.percentile(perc_some_college,90)))

10% 7.04
25% 8.1
50% 9.55
75% 10.2
90% 12.16

## Bachelor's degree +

In [15]:
perc_bach = df["Percent below poverty level:EDUCATIONAL ATTAINMENT:Population 25 years and over!!Bachelor's degree or higher"]

print("10% "+ str(np.percentile(perc_bach,10)))
print("25% "+ str(np.percentile(perc_bach,25)))
print("50% "+ str(np.percentile(perc_bach,50)))
print("75% "+ str(np.percentile(perc_bach,75)))
print("90% "+ str(np.percentile(perc_bach,90)))

10% 3.3
25% 3.9
50% 4.2
75% 4.824999999999999
90% 5.2